.App {
  text-align: center;
  background-color: white;
  margin-top: 100px; 
  margin: 50px;

}

.blockBarra{
  background-color:darkgreen;
}

button{
  background-color: darkgreen;
  color: white;
  font-size: 30px;
  padding: 2%;
  border: none;
}

