body{
  background-color: white;
  margin-top: 0.5%;
  font-size: 20px;
}

button  {
  font: oblique bold 120% cursive;
}

.labelInicio{
  font: oblique bold 150% cursive;
  margin-top: 2%;
}

.buttonInicio{
  font-size: 25px;
  border-radius: 10px;
  background-color: #5C8D3A;
  color:white;
  border: none;
  padding: 1.5%;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 2.5%;
  cursor:pointer;
}

.imgInicio{
  alt: "logo";
  width: 300px;
  margin-top: 5%;
}
.buttonInicio:hover{
  background-color: #111;
}