.tablaVentas{
  border: none;
  margin-top: 2.5% ;
  border: 1px solid #5C8D3A;
  border-radius: 20px;
  margin-left:5%;
  width: 90%;
  padding: 2%;
}

.colVenta{
  font: oblique bold 120% cursive;
  text-align: left;
}

.rowVenta {
  padding-top: 3%;
  font: 65% monospace;
  text-align: left;
}