.tablaProductos{
  border: none;
  margin-top: 2.5% ;
  border: 1px solid #5C8D3A;
  border-radius: 20px;
  margin-left:5%;
  width: 90%;
  padding: 2%;
}

.colProductos{
  font: oblique bold 120% cursive;
  text-align: left;
}

.rowProductos {
  font: 65% monospace;
  text-align: left;
}

#containerAgregarProductos {
  text-align: right;
  margin-right:5%;
  margin-top:1%;
}

#buttonAgregarProductos{
  font-size: 25px;
  border-radius: 10px;
  background-color: crimson;
  color:white;
  border: none;
  padding: 1%;
}
