table {
  margin-top: 50px;
  margin-left: 10%;
  text-align: center; 
  table-layout: fixed;
  width: 80% ;
  border-collapse: collapse;
  border: 1px solid darkgreen;
}



.producto{
  font: bold 90% monospace;     
}

.rowModProductos{   
  font: 60% monospace;     
}

.buttonMod{
  border: none;
  cursor:pointer;
  padding: 10%;;
  background-color: #5C8D3A;
  color: white;
  font: oblique bold 80% cursive;
  border-radius: 10px;
  margin-bottom: 0%;
  margin-left: 40;
 
  


}
.buttonMod:hover{
  background-color: #111;
}
.imagProducto{
  margin-bottom: 1%;
}



