body{
  background-color: white;
  font-size: 25px;
  margin-top: 25px;

}

.buttonCliente{
  background-color: darkgreen;
  color: white;
  font-size: 20px;
  border: none;
  padding: 2%;
}

.blockCliente{
  background-color: darkgreen;
  margin-left: 100px; 
  margin-right: 100px;
  margin-top: 10px;
}

.iconoCliente {
  alt: "logo";
  width: 80px;
}