.tablaModProductos{
  border: none;
}

.colModProductos{
  font: bold 90% monospace;     
}

.rowModProductos{   
  font: 60% monospace;     
}

.botonMod{
  border: none;
  padding: 3%;;
  background-color:  darkgreen;
  color: white;
  font: oblique bold 80% cursive;
}



