table {
  margin-top: 50%;
  margin-left: 50%;
  text-align: center; 
  table-layout: fixed;
  width: 15%;
  border-collapse: collapse;
  border: 1px solid #5C8D3A;
}

th, td {
  padding: 10px;
}

.producto{
  vertical-align: text-top;
}

.tabla{
  background-color: white;
  border: 1px solid;
   
}
