body{
  background-color: white;
  font-size: 25px;
  margin-top: 25px;

}

.buttonCliente{
  background-color: #5C8D3A;
  color:#ffffff;
  font-size: 20px;
  border: none;
  padding: 2%;
  text-decoration: none;
  font: oblique bold 120% cursive;
  cursor:pointer;
}

.buttonCliente:hover{
  background-color: #111;
}

.blockCliente{
  background-color: #5C8D3A;
  margin-left: 100px; 
  margin-right: 100px;
  margin-top: 10px;
  

}

.iconoCliente {
  alt: "logo";
  width: 110px;
}

