body{
  background-color: white;
  font-size: 25px;
  margin-top: 25px;

}

.buttonCliente{
  background-color:  #4CAF50 ;
  color:#ffffff;
  font-size: 20px;
  border: none;
  padding: 2%;
  text-decoration: none;
  font: oblique bold 120% cursive;
  
}

.buttonCliente:hover{
  background-color: #111;
}

.blockCliente{
  background-color: #4CAF50;
  margin-left: 100px; 
  margin-right: 100px;
  margin-top: 10px;
}

.iconoCliente {
  alt: "logo";
  width: 110px;
}

